@model ErrorViewModel
@{
    ViewData["Title"] = "Ресурс не найден";
}

<h1 class="text-danger">Ресурс не найден</h1>
<h2 class="text-danger">Попробуйте вернуться на предыдущую страницу</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}