/.vscode/
/Spy347.BlogCDEV-21.Infrastructure/obj/
/Spy347.BlogCDEV-21.Infrastructure/bin/
/Spy347.BlogCDEV-21.Web/obj/
/Spy347.BlogCDEV-21.Web/bin/
/Spy347.BlogCDEV-21.API/obj/
/Spy347.BlogCDEV-21.API/bin/