@model ErrorViewModel
@{
    ViewData["Title"] = "Доступ запрещен";
}

<h1 class="text-danger">Доступ запрещен 401</h1>
<h2 class="text-danger">Попробуйте авторизоваться <a asp-controller="Account" asp-action="Login">Вход</a></h2>