@model ErrorViewModel
@{
    ViewData["Title"] = "Ресурс не найден";
}

<h1 class="text-danger">Ресурс не найден 404</h1>
<h2 class="text-danger">Попробуйте вернуться на предыдущую <a href="##" onClick="history.go(-1); return false;">страницу</a>
</h2>