@model ErrorViewModel
@{
    ViewData["Title"] = "Ошибка (500)";
}

<div class="text-center">
    <h1 class="text-danger">Ошибка 500</h1>
    <img src="~/images/500.jpg">
    <h2 class="text-danger">Мы уже работаем над решением проблемы</h2>
    <p>Попробуйте вернуться на предыдущую <a href="##" onClick="history.go(-1); return false;">страницу</a></p>
</div>